
.containerNavbar {
  
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #b87c58;
  align-items: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.categories{
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.categories a {
  background-color: beige;
  padding: 10px 20px;
  color: #939d66;
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
